@charset "UTF-8";
body{
	font-size:16px;
	font-family: Verdana, sans-serif;
}

#container{
	width: 280px;
	margin: 30px auto;
}

form{
    text-align:center;
}


input[type=password],
input[type=text]{
    padding: 5px;
    border-radius: 4px;
    font-size: 14px;
}

input[type=submit]{
    width: 100px;
    padding: 7px;
    border-radius: 5px;
    color: #fff;
    background: #00aaff;
    box-shadow: 0 3px 0 #0088cc;
    cursor: pointer; 
    margin: 0 auto 15px;
}

input[type=submit]:hover{
    opacity: 0.8;
}