body{
  font-family: Arial, sans-serif;

  background-color: #dcae8b;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}


.loader {
  align-items: center;
  background: #fff;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.loader::after {
  -webkit-animation: loader 0.5s linear infinite;
          animation: loader 0.5s linear infinite;
  border: 3px solid rgb(235, 152, 85);
  border-radius: 50%;
  border-right: 1px solid rgba(255, 165, 0, 0.2);
  border-top: 1px solid rgba(255, 165, 0, 0.2);
  content: "";
  height: 70px;
  width: 70px;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}



main{
  width:320px;
  margin:32px auto;
}

h1{
  font-size: 24px;
  text-align: center;
  margin:0 0 16px;
}

input[type="text"]{
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}


ul{
  list-style: none;
  margin:0;
  padding:0;
}

li{
  display: flex;
  margin-bottom: 8px;
}

.done{
  text-decoration: line-through;
  color:rgb(218, 217, 217);
}

input[type="checkbox"]{
  margin-right: 8px;
}

.delete{
  color: #ccc;
  cursor: pointer;
}
.delete-form{
  margin-left: auto;
  padding-left: 8px;
}

input[type=submit]{
  position: absolute;
  top:15px; right:15px;
  width: 100px;
  padding: 7px;
  border-radius: 30px;
  border-width:0px;
  color: #fff;
  background: #ef6f5b;
  box-shadow: 0 2px 0 #a84e40;
  cursor: pointer; 
  margin: 0 auto 15px;
}

input[type=submit]:hover{
  opacity: 0.8;
}

.out{
  position:absolute; 
  top:10%; right:10%;
}